.introduccion {
    grid-column: 1 / -1;
}

.menu {
    grid-column: 1 / -1;
}

.plato-semana {
    grid-column: 1 / -1;
}

.menu {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

@media (min-width: 768px) {

    .menu {
        grid-template-columns: repeat(2, 1fr);
    }

    .especialidades,
    .promos {
        grid-column: span 2;
    }
}

@media (min-width: 1024px) {

    .menu {
        grid-template-columns: repeat(3, 1fr);
    }

    .especialidades {
        grid-column: 1 / 3;
    }

    .promos {
        grid-column: 3 / 4;
    }

    .plato-semana {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
}