@import url("./promos.css");

section.seccion-menu {

    h3 {
        color: gold;
        background-color: black;
        text-align: center;
    }

    table {
        text-align: center;

        thead {
            color: gold;
            background-color: black;
        }

        tbody {

            td.nombre-plato {
                color: black;
                background-color: grey;
            }

            td.precio-plato {
                color: darkslateblue;
                background-color: gainsboro;
            }
        }
    }
}