*.swp
*.mypy_cache*
*venv
*.venv
*.zip

formtools/.idea
formtools/themes/classicgrey
formtools/themes/deepblue
formtools/themes/ohcanada
formtools/themes/default/cache
formtools/cache/*.tpl.php
formtools/.DS_Store
formtools/global/config.php

formtools/upload/*
formtools/!upload/index.html
formtools/modules/*
formtools/!modules/index.html
formtools/global/api/*
formtools/!global/api/index.html

